<h1>{{title}}</h1>
<h2>Topic List</h2>
<ul class="topics">
  <li *ngFor="let topic of topics" 
  [class.selected]="topic === selectedTopic"
  (click)="onSelect(topic)">
    <span class="badge">{{topic.id}}</span> {{topic.name}}
  </li>
</ul>

<topic-detail [topic]="selectedTopic"></topic-detail>
