<h3>Highlights</h3>
<div class="grid grid-pad">
  <a *ngFor="let topic of topics" [routerLink]="['/detail', topic.id]" class="col-1-4">
    <div class="module topic">
      <h4>{{topic.name}}</h4>
    </div>
  </a>
</div>
