<h2>My topics</h2>
<ul class="topics">
  <li *ngFor="let topic of topics"
    [class.selected]="topic === selectedTopic"
    (click)="onSelect(topic)">
    <span class="badge">{{topic.id}}</span> {{topic.name}}
  </li>
</ul>
<div *ngIf="selectedTopic">
  <h2>
    {{selectedTopic.name | uppercase}} is my topic
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
