<div *ngIf="topic">
  <h2>{{topic.name}} details</h2>
  <div><label>id: </label>{{topic.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="topic.name" placeholder="name">
  </div>
  <div>
    <label>summary: </label>
    <input type="textarea" [(ngModel)]="topic.summary" placeholder="summary">
  </div>
  <button (click)="goBack()">Back</button>
</div>
